POSTGRES_DB=foc
POSTGRES_USER=foc
POSTGRES_PASSWORD=
RABBITMQ_DEFAULT_USER=foc
RABBITMQ_DEFAULT_PASS=

DOMAIN=localhost
JWT_PRIVATE_KEY_FILE=./secrets/jwt-private.pem
JWT_PUBLIC_KEY_FILE=./secrets/jwt-public.pem

INITIAL_ADMIN_EMAIL=admin@u.nus.edu
INITIAL_ADMIN_NAME=System Administrator
INITIAL_ADMIN_PASSWORD=
